{% extends 'base.html' %}
{%block title%}
<title>Create new topic</title>
{%endblock%}

{%block breadcrumb%}
    <li class="breadcrumb-item "><a href="{% url 'home' %}">Boards</a></li>
        <li class="breadcrumb-item active">{{board.name}}</li>
{%endblock%}

{%block content%}
<form method="post" novalidate>
    <!-- {{form.as_p}} -->
    <!-- تمنع اى حد يبعت داتا من الخارج او يعمل اكسس على الفورم  -->
    {% csrf_token %}
    <!-- <label>Subject</label>
    <input type="text" name="subject" id="id_subject">
    <label>Message</label>
    <textarea type="message" id="id_message" rows="5"></textarea> -->
    {%include 'includes/form.html'%}
    <button type="submit">Add</button>

</form>

{%endblock%}